<div class="container">
  <div class="card mt-3">
    <div class="card-header">
      <h4>Atualizar produto</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="formProduto"  *ngIf="formProduto">
        <div class="row">

          <div class="form-group col-md-4">
            <label>Código:</label>
            <input type="text" class="form-control" formControlName="codigo">
          </div>

          <div class="form-group col-md-4">
            <label>Descrição:</label>
            <input type="text" class="form-control" formControlName="descricao">
          </div>

          <div class="form-group col-md-4">
            <label>Quantidade:</label>
            <input type="number" class="form-control" formControlName="quantidade">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-4">
            <label>Número do par:</label>
            <select class="form-control" formControlName="tamanho">
              <option *ngFor="let roupa of tamanhoDeRoupas" [value]="roupa.id">{{roupa.tamanho}}</option>
            </select>
          </div>

          <div class="form-group col-md-4">
            <label>Preço custo:</label>
            <input type="text" class="form-control" formControlName="precoCusto">
          </div>

          <div class="form-group col-md-4">
            <label>Valor da venda:</label>
            <input type="text" class="form-control" formControlName="valorVenda">
          </div>
        </div>

        <div class="row">
          <div class="ml-3">
            <button *ngIf="!salvando" (click)="atualizar()" [disabled]="!formProduto.valid"
              class="btn btn-primary btn-icon-split">
              <span class="text">Atualizar</span>
            </button>
            <button *ngIf="salvando" disabled class="btn btn-primary btn-icon-split">
              <i class="fas fa-spinner fa-spin"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>