<app-menu></app-menu>

<div class="row mt-3">
  <h3 class="col text-center">Controle de Entrada</h3>
</div>

<div class="float-right mt-3 mb-2">
  <input class="form-control" type="text" name="search"
  [(ngModel)]="searchText" placeholder="Filtrar">
</div>


<table class="table table-hover mt-4">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor="let produto of produtosEntrada | filter:searchText">
    <tr>
      <td>
        <img src="{{produto.imagem}}" class="rounded-circle" height="40" width="40" asp-append-version="true" />
      </td>
      <td>{{produto.nome}}</td>
      <td>
        <button class="btn btn-primary" (click)="openModal(produto)">Detalhes</button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #detalheModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> {{nomeProduto}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row mb-2" style=" overflow-y:auto;
                                  max-height:500px;">

      <div class="float-right mt-3 mb-2">
        <input class="form-control" type="text" name="search"
        [(ngModel)]="searchDetalheText" placeholder="Filtrar">
      </div>


      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Tamanho</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Deta de entrada</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let produto of produtosEntradaDetalhe | filter:searchDetalheText">
          <tr>
            <td>#</td>
            <td> {{produto.tamanho}}</td>
            <td> {{produto.quantidade}}</td>
            <td> {{produto.dataEntrada}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</ng-template>
