<div id="content-wrapper" class="d-flex flex-column mt-5">

  <div class="row mb-5 col-8" style=" margin-left: auto;    margin-right: auto;">

    <a routerLink="/listProdutos" class="btn btn-info btn-lg btn-block">
      <span class="icon text-white-50">
      </span>
      <span class="text"> CONTROLE DE PRODUTOS</span>
    </a>
  </div>

  <div class="row mb-4 col-8" style=" margin-left: auto;    margin-right: auto;">
    <a routerLink="/logEntrada" class="btn btn-info btn-lg btn-block">
      <span class="icon text-white-50">
      </span>
      <span class="text"> CONTROLE DE ENTRADAS</span>
    </a>
  </div>

  <div class="row mb-4 col-8" style=" margin-left: auto;    margin-right: auto;">
    <a routerLink="#" class="btn btn-info btn-lg btn-block">
      <span class="icon text-white-50">
      </span>
      <span class="text">CONTROLE DE SAÍDAS</span>
    </a>
  </div>

  <div class="row mb-4 col-8" style=" margin-left: auto;    margin-right: auto;">
    <a routerLink="#" class="btn btn-info btn-lg btn-block">
      <span class="icon text-white-50">
      </span>
      <span class="text">VENDAS</span>
    </a>
  </div>

</div>
