<div class="row mb-4">
  <h3 class="col text-center">Produtos</h3>
</div>

<div class="row ml-0 mb-3">
  <div class="input-group">
    <a routerLink="/addProduto" class="btn btn-primary btn-icon-split">
      <span class="icon text-white-50">
        <i class="fas fa-plus"></i>
      </span>
      <span class="text"> Adicionar Produto</span>
    </a>
  </div>
</div>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th></th>
      <th scope="col">Produto</th>
      <th scope="col">Preço</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor="let produto of produtos">
    <tr>
      <th>#</th>
      <td>
        <!-- <img src="~/Imagens/default.jpg" class="rounded-circle" height="40" width="40" asp-append-version="true"/> -->

        <img src="{{produto.imagem}}" class="rounded-circle" height="40" width="40" asp-append-version="true" />

      </td>
      <td>{{produto.descricao}}</td>
      <td>{{produto.valorVenda | currency : 'R$ '}}</td>
      <td>
        <button class="btn btn-primary" (click)="openModal(produto)">Detalhes</button>
        <a [routerLink]="['/editProduto', produto.produtoId]" class="btn btn-primary  ml-1">Editar</a>
        <button class="btn btn-danger   ml-1" (click)="remover(produto.produtoId)">Remover</button>
      </td>
    </tr>
  </tbody>
</table>



<ng-template #detalheModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Informações do produto {{produto.descricao}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row mb-2">
      <div class="form-group col-md-4 d-flex flex-column">
        <label><strong>Calçado:</strong></label>
        <span>{{produto.descricao}}</span>
      </div>

      <div class="form-group col-md-4 d-flex flex-column">
        <label><strong>Preço custo:</strong></label>
        <span>{{produto.precoCusto | currency : 'R$'}}</span>
      </div>

      <div class="form-group col-md-4 d-flex flex-column">
        <label><strong>Valor da venda:</strong></label>
        <span>{{produto.valorVenda | currency : 'R$'}}</span>
      </div>
    </div>

    <h5>Estoque</h5>
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Tamanho</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Detalhe</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let tamanho of produtoTamanho">
        <tr>
          <td>#</td>
          <td> {{tamanho.tamanhoTexto}}</td>
          <td> {{tamanho.quantidade}}</td>
          <td> {{tamanho.descricao}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</ng-template>
